@import url('./reset.css') layer(reset);
@import url('./utils.css') layer(utils);

/* Fonts */

/* Trade Gothic */
@font-face {
	font-style: normal;
	font-weight: bold;
	src: url('../assets/fonts/TradeGothic.woff2') format('woff2');
	font-family: 'Trade Gothic';
	font-display: block;
}

/* Helvetica Neue */
@font-face {
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/HelveticaNeue-Black.woff2') format('woff2');
	font-family: 'Helvetica Neue';
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: bold;
	src: url('../assets/fonts/HelveticaNeue-Bold.woff2') format('woff2');
	font-family: 'Helvetica Neue';
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 500;
	src: url('../assets/fonts/HelveticaNeue-Medium.woff2') format('woff2');
	font-family: 'Helvetica Neue';
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/HelveticaNeue-Roman.woff2') format('woff2');
	font-family: 'Helvetica Neue';
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/HelveticaNeue-Light.woff2') format('woff2');
	font-family: 'Helvetica Neue';
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 200;
	src: url('../assets/fonts/HelveticaNeue-UltraLight.woff2') format('woff2');
	font-family: 'Helvetica Neue';
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 100;
	src: url('../assets/fonts/HelveticaNeue-Thin.woff2') format('woff2');
	font-family: 'Helvetica Neue';
	font-display: swap;
}

/* Global styles */

:root {
	--black: hsl(0, 0%, 14%);
	--white: hsl(0, 0%, 97%);
	--success: light-dark(#28930e, #3de716);
	--warning: light-dark(#dfc247, #f8d84f);
	--error: light-dark(#ff2c7d, #ff2c7d);

	--icon-color: light-dark(var(--black), var(--white));
	--focus-ring-color: var(--icon-color);
	--divider-color: color-mix(in srgb, var(--icon-color) 10%, transparent);

	--bg: light-dark(var(--white), var(--black));

	--font-color: light-dark(hsl(208, 37%, 20%), hsla(0, 0%, 100%, 0.9));

	/* Popups */
	/* making the color lighter (35% brighter) and more transparent (90%) */
	--popup-bg: oklch(from var(--bg) calc(l * 1.35) c h / 0.9);
	@media (prefers-reduced-transparency: reduce) {
		--popup-bg: oklch(from var(--bg) calc(l * 1.35) c h);
	}
	--popup-bg-blur: blur(16px);
	--_popup-shadow-color: 220 40% 2%;
	--popup-shadow:
		0 -1px 2px 0 hsl(var(--_popup-shadow-color) / calc(10% + 2%)),
		0 2px 1px -2px hsl(var(--_popup-shadow-color) / calc(10% + 3%)),
		0 5px 5px -2px hsl(var(--_popup-shadow-color) / calc(10% + 3%)),
		0 10px 10px -2px hsl(var(--_popup-shadow-color) / calc(10% + 4%)),
		0 20px 20px -2px hsl(var(--_popup-shadow-color) / calc(10% + 5%)),
		0 40px 40px -2px hsl(var(--_popup-shadow-color) / calc(10% + 7%));

	--border-radius: 18px;

	background-color: var(--bg);
	color: var(--font-color);
	font-family: 'Helvetica Neue', system-ui, sans-serif;
}

*,
*::before,
*::after {
	transition:
		background-color 0.2s,
		border-color 0.2s;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::backdrop,
	*::before,
	*::after {
		transition: none !important;
	}
}
