@import url('./reset.css') layer(reset);

/* Fonts */

/* Trade Gothic */
@font-face {
	font-style: normal;
	font-weight: bold;
	src: url('./assets/fonts/TradeGothic.woff2') format('woff2');
	font-family: 'Trade Gothic';
	font-display: swap;
}

/* Helvetica Neue Regular */
@font-face {
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/HelveticaNeue.woff2') format('woff2');
	font-family: Helvetica;
	font-display: swap;
}

:root {
	--black: #242424;
	--white: #f7f7f7;

	--icon-color: light-dark(var(--black), var(--white));
	--focus-ring-color: var(--icon-color);
	--divider-color: color-mix(in srgb, var(--icon-color) 10%, transparent);

	--bg: light-dark(var(--white), var(--black));

	--font-color: light-dark(#213547, #ffffffde);

	/* Popups */
	/* making the color lighter (35% brighter) and more transparent (90%) */
	--popup-bg: oklch(from var(--bg) calc(l * 1.35) c h / 0.9);
	--popup-bg-blur: blur(16px);
	--_popup-shadow-color: 220 40% 2%;
	--popup-shadow:
		0 -1px 2px 0 hsl(var(--_popup-shadow-color) / calc(10% + 2%)),
		0 2px 1px -2px hsl(var(--_popup-shadow-color) / calc(10% + 3%)),
		0 5px 5px -2px hsl(var(--_popup-shadow-color) / calc(10% + 3%)),
		0 10px 10px -2px hsl(var(--_popup-shadow-color) / calc(10% + 4%)),
		0 20px 20px -2px hsl(var(--_popup-shadow-color) / calc(10% + 5%)),
		0 40px 40px -2px hsl(var(--_popup-shadow-color) / calc(10% + 7%));

	--border-radius: 18px;

	background-color: var(--bg);
	color: var(--font-color);
	font-family: 'Trade Gothic', Helvetica, sans-serif;
}

*,
*::before,
*::after {
	transition:
		background-color,
		border-color 0.2s;
}
