@import url('./reset.css') layer(reset);

/* Fonts */

/* Trade Gothic */
@font-face {
	font-style: normal;
	font-weight: bold;
	src: url('./assets/fonts/TradeGothic.woff2') format('woff2');
	font-family: 'Trade Gothic';
	font-display: swap;
}

/* Helvetica Neue Regular */
@font-face {
	src: url('./assets/fonts/HelveticaNeue.woff2') format('woff2');
	font-family: 'Helvetica Neue';
	font-display: swap;
}

:root {
	--black: #242424;
	--white: #f7f7f7;

	--icon-color: light-dark(var(--black), var(--white));
	--focus-ring-color: var(--icon-color);
	--divider-color: color-mix(in srgb, var(--icon-color) 10%, transparent);
	--bg: light-dark(var(--white), var(--black));
	--border-radius: 18px;

	background-color: var(--bg);
	color: light-dark(#213547, #ffffffde);
	font-family: 'Trade Gothic', Helvetica, sans-serif;
}

*,
*::before,
*::after {
	transition: background-color 0.2s;
}
