@import './reset.css';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	--black: #161716;
	--white: #f7f7f7;
	--strong-grey: #6d6d6d;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}
